PORT=5000
MONGODB_URI=mongodb://localhost:27017/weathermind
JWT_SECRET=weathermind_ai_super_secret_jwt_key_2026
FASTAPI_AI_URL=http://localhost:8000
WEATHER_API_KEY=openmeteo_free
NODE_ENV=development
